@import "../../../../App.scss";

.categoriesPopup {
  height: 60%;
  width: 40%;
  position: fixed;
  top: 11%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(black, 0.9);
  z-index: 100;
  padding: 2rem;
  animation: fadeIn 0.5s ease-in;
}

.variety {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-family: $font-primary;
      color: $color-main;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    img {
      border-radius: 1rem;
      width: 80%;
      position: relative;

      //   &::after {
      //     content: "";
      //     display: block;
      //     position: absolute;
      //     left: 50%;
      //     bottom: 2rem;
      //     z-index: 1000;
      //     transform: translateX(-50%);
      //     height: 1px;
      //     background: $color-main;
      //     width: 90%;
      //     backface-visibility: none;
      //   }
    }
  }
}

.bestSeller {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-family: $font-primary;
    color: $color-main;
    margin-bottom: 1rem;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      bottom: 17.5rem;
      transform: translateX(-50%);
      height: 1px;
      background: $color-main;
      width: 90%;
      backface-visibility: none;
    }
  }

  &__content {
    display: flex;

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      img {
        border-radius: 1rem;
        width: 80%;
      }

      h1 {
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.5rem;
        margin-top: 0.2rem;
      }

      h4 {
        color: $color-main;
        font-family: $font-primary;
        font-size: 1.2rem;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
