@import "../../App.scss";
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  z-index: 99;
  padding-block: 15rem;
}

.search {
  max-width: 90rem;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  form {
    display: flex;
    align-items: center;
    max-width: 40rem;
    width: 90%;
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url("../../Images/bg-1.webp");
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid $color-grey;

    input,
    button {
      color: white;
      border: none;
      outline: none;
      background: transparent;
    }

    input {
      width: 100%;
      margin-right: 1.5rem;
    }

    svg {
      fill: white;
      cursor: pointer;

      &:hover,
      &:focus {
        fill: $color-main;
      }
    }

    button {
      &:hover,
      &:focus {
        fill: $color-main;
      }

      &:active {
        outline: none;
        transform: scale(0.92);
      }
    }
  }

  &__result {
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url("../../Images/bg-1.webp");
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    max-height: 70rem;
    overflow-y: scroll;

    &--item {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-block: 2rem;
      padding-inline: 1rem;

      &:not(:last-child) {
        border-bottom: 0.5px solid $color-grey;
      }

      &-details {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &-main {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          img {
            height: 12rem;
            width: 12rem;
            border-radius: 1rem;
            margin-right: 2rem;
          }

          &-text {
            font-family: $font-primary;

            &-name {
              color: white;
              font-size: 1.5rem;
            }

            &-price {
              color: $color-grey;
              font-size: 1.2rem;
              margin-top: 1rem;
            }
          }
        }

        &-btns {
          display: flex;

          p {
            color: white;
            font-size: 1.8rem;
            margin-inline: 2rem;
            font-family: $font-primary;
          }

          button {
            background-color: transparent;
            border: none;
            cursor: pointer;

            &:active {
              outline: none;
              transform: scale(0.92);
            }
          }

          &-active {
            fill: $color-main;
          }

          &-inactive {
            fill: $color-grey;
          }
        }
      }

      &-cart {
        background-color: rgba($color-black, 0.8);
        padding: 0.9rem;
        border: none;
        border-radius: 5rem;
        cursor: pointer;
        font-family: $font-primary;
        font-size: 1.5rem;
        font-weight: 600;
        color: $color-white;
        transition: all 0.3s;
        width: 20rem;

        &:hover,
        &:focus {
          transform: translateY(-3px);
          color: $color-main;
          background-color: $color-black;
        }

        &:active {
          outline: none;
          transform: scale(0.98);
        }
      }
    }
  }

  &__error {
    color: white;
    font-size: 1.5rem;
    margin-top: 5rem;
    font-family: $font-primary;
  }
}
