@import "../../App.scss";

.navBarOptionsContainer {
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.95),
      rgba(black, 0.95)
    ),
    url("https://images.unsplash.com/photo-1568733873715-f9d497a47ea0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  animation: fadeInBack 1s;

  &__svg {
    position: absolute;
    top: 5rem;
    right: 3rem;
    fill: $color-white;
    width: 4rem;
    height: 4rem;
  }
}

@keyframes fadeInBack {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.navBarOptions {
  &__title {
    color: $color-main;
    font-size: 10rem;
    font-family: $font-brand;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    text-transform: uppercase;
    list-style: none;
    display: flex;

    li {
      margin-top: 2.5rem;
      font-size: 2.5rem;
      font-family: Montserrat, sans-serif;
    }
  }
}
