@import "../../App.scss";

.menu {
  display: flex;

  &__image {
    flex: 0 0 35%;
    background-image: url("https://images.unsplash.com/photo-1556761223-4c4282c73f77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=401&q=80");
    background-size: cover;
    background-position: 50%;

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  &__text {
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url("https://rubiktheme.com/demo/rb_bakery_demo/themes/mr_bakery/assets/img/bg_footer.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 10rem;

    @media only screen and (max-width: 700px) {
      padding: 5rem 8rem;
    }

    @media only screen and (max-width: 600px) {
      padding: 5rem;
    }

    @media only screen and (max-width: 500px) {
      padding: 5rem 3rem;
    }

    &--heading {
      color: $color-white;
      font-family: $font-motto;
      font-weight: 100;
      text-transform: uppercase;
      font-size: 4rem;
      margin-bottom: 5rem;
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 8rem;
      }

      &--main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        h4 {
          color: $color-white;
          font-family: $font-primary;
          font-size: 1.8rem;
        }

        h5 {
          span {
            color: $color-grey;
            text-decoration: line-through;
            font-size: 1.3rem;
            font-family: $font-primary;
            margin-right: 0.4rem;
          }

          color: $color-main;
          font-size: 1.5rem;
          font-family: $font-primary;
        }
      }

      &--sub {
        color: $color-grey;
        font-size: 1.3rem;
        font-family: $font-primary;
      }
    }
  }
}
