@import "../../../../App.scss";

.footer {
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.5),
      rgba(black, 0.5)
    ),
    url("https://rubiktheme.com/demo/rb_bakery_demo/themes/mr_bakery/assets/img/bg_footer.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 10rem;

  &__logo {
    font-family: $font-brand;
    font-size: 10rem;
    font-weight: 100;
    color: $color-main;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
    list-style: none;
    margin-top: 2rem;

    li {
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.2s;
      position: relative;

      &:hover {
        color: $color-main;
      }

      //for outwards underline
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: -5px;
        height: 3px;
        background: $color-main;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        backface-visibility: none;
      }

      &:hover::after {
        width: 80%;
        left: 10%;
      }
    }
  }

  &__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    h1 {
      color: $color-main;
      font-size: 4rem;
      font-family: $font-brand;
      margin-bottom: 1.5rem;
    }

    &--entry {
      display: flex;
      align-items: center;

      input {
        background: transparent;
        border: 1px solid rgb(133, 133, 133);
        padding: 1.5rem;
        border-radius: 0.5rem 0 0 0.5rem;
        width: 50rem;
        color: $color-grey;

        &:focus {
          outline: none;
          border: 1px solid $color-main;
          color: $color-main;
        }
      }

      button {
        cursor: pointer;
        margin-left: 0.1rem;
        height: 4.7rem;
        width: 7rem;
        border-radius: 0 0.5rem 0.5rem 0;
        border: none;
        background-color: $color-main;

        &:hover {
          background: #e0b14b;
        }

        &:active {
          transform: scale(0.98);
        }

        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  &__icons {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;

    svg {
      fill: $color-grey;
      height: 3rem;
      width: 3rem;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        fill: $color-main;
      }
    }
  }

  &__disclaimer {
    font-family: $font-primary;
    color: $color-grey;
    margin-top: 4rem;
    font-size: 1rem;
  }
}
