@import "../../App.scss";

.categories {
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.8),
      rgba(black, 0.8)
    ),
    url("https://images.unsplash.com/photo-1620314220867-90d1ba926c62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=416&q=80");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding: 5rem 0;

  &__heading {
    color: $color-white;
    font-size: 5rem;
    font-family: $font-brand;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;

    @media only screen and (min-width: 720px) {
      font-size: 5.5rem;
    }
  }

  &__grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 4rem;

    &--item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &--hovered {
        display: none;
      }

      &--fresh {
        background-color: rgb(120, 177, 252);
        padding: 0.5rem 0.8rem;
        border-radius: 1rem;
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.1rem;
        position: absolute;
        top: 2rem;
        left: 2rem;
      }

      &--search {
        background-color: $color-main;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: absolute;
        top: 2rem;
        cursor: pointer;
        right: 2rem;

        svg {
          height: 2rem;
          width: 2rem;
          fill: $color-black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all 0.2s;

          &:hover,
          &:focus {
            fill: $color-white;
          }
        }
      }

      &--heart {
        background-color: $color-main;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        transition: all 0.2s;

        &:hover,
        &:focus {
          transform: translateY(-3px);
        }

        &:hover,
        &:focus svg {
          fill: $color-white;
        }

        svg {
          height: 2.3rem;
          width: 2.3rem;
          fill: $color-black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &--btns {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 8rem;
        left: 16%;
        width: 100%;

        button {
          background-color: rgba($color-black, 0.8);
          padding: 1.5rem 0.9rem;
          border: none;
          border-radius: 5rem;
          cursor: pointer;
          font-family: $font-primary;
          font-size: 1.5rem;
          font-weight: 600;
          color: $color-white;
          transition: all 0.3s;
          margin-right: 0.2rem;
          width: 68%;

          &:hover,
          &:focus {
            transform: translateY(-3px);
            color: $color-main;
            background-color: $color-black;
          }

          &:active {
            outline: none;
            transform: scale(0.98);
          }
        }
      }

      &--img {
        height: 40rem;
        width: 100%;
        background-size: cover;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s;

        @media only screen and (max-width: 463px) {
          height: 50rem;
          background-position: 50%;
        }

        &-1 {
          background-image: url("https://images.unsplash.com/photo-1620314220867-90d1ba926c62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=416&q=80");
        }

        &-2 {
          background-image: url("https://images.unsplash.com/photo-1616205255807-b55f2513eced?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80");
        }

        &-3 {
          background-image: url("https://images.unsplash.com/photo-1519996529931-28324d5a630e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
        }

        &-4 {
          background-image: url("https://images.unsplash.com/photo-1582454235987-1e597bafcf58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
        }

        &-5 {
          background-image: url("https://images.unsplash.com/photo-1562847814-98521f174785?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
        }

        &-6 {
          background-image: url("https://images.unsplash.com/photo-1609015746380-571227e2bc72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
        }

        &-7 {
          background-image: url("https://images.unsplash.com/photo-1600490036275-35f5f1656861?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
        }

        &-8 {
          background-image: url("https://images.unsplash.com/photo-1531127989214-8739ff1b550e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80");
        }
      }

      h1 {
        color: $color-white;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 1.8rem;
        font-size: 1.7rem;
      }

      h4 {
        span {
          color: $color-grey;
          text-decoration: line-through;
          font-size: 1.3rem;
          font-family: $font-primary;
          margin-right: 0.4rem;
        }

        color: $color-main;
        font-size: 1.5rem;
        font-family: $font-primary;
      }
    }
  }

  &__viewMore {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    button {
      background-color: $color-main;
      padding: 1.5rem 3rem;
      border: 3px solid $color-main;
      border-radius: 5rem;
      cursor: pointer;
      font-family: $font-primary;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-black;
      transition: all 0.3s;
      margin: 3rem 0 5rem 0;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $color-main;
      }

      &:active {
        outline: none;
        transform: scale(0.98);
      }
    }
  }
}

.categories__grid--item:hover .categories__grid--item--hovered {
  display: flex;
  transition-duration: 0.4s;
}

.categories__grid--item:hover .categories__grid--item--img-1 {
  background-image: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-2 {
  background-image: url("https://images.unsplash.com/photo-1576379392044-6d933410d374?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-3 {
  background-image: url("https://images.unsplash.com/photo-1522712586518-5e2e8924eb0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-4 {
  background-image: url("https://images.unsplash.com/photo-1619286310765-4cd8819ef03c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-5 {
  background-image: url("https://images.unsplash.com/photo-1616252980327-ec70572e5df9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-6 {
  background-image: url("https://images.unsplash.com/photo-1603105037880-880cd4edfb0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-7 {
  background-image: url("https://images.unsplash.com/photo-1564568298261-fd1677193a4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
}

.categories__grid--item:hover .categories__grid--item--img-8 {
  background-image: url("https://images.unsplash.com/photo-1546173159-315724a31696?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80");
}
