@import "../../App.scss";

.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.5),
      rgba(black, 0.5)
    ),
    url("../../Images/bg-1.webp");
  background-size: cover;
  border-radius: 0.5rem;
  max-width: 60rem;
  width: 80%;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;

    &--register,
    &--login {
      display: flex;
      justify-content: center;
      width: 100%;
      border: none;
      border-bottom: 2px solid $color-grey;
      cursor: pointer;
      padding: 2rem;
      background: transparent;
      color: $color-grey;
      font-family: $font-primary;
      font-weight: 100;
      font-size: 1.8rem;
    }
  }

  &__forms {
    width: 100%;
    padding-block: 4rem;

    form {
      display: flex;
      flex-direction: column;
      width: 90%;
      align-self: center;
      margin: auto;

      input {
        padding: 1.5rem;
        background: transparent;
        border: 1px solid $color-grey;
        color: $color-grey;
        font-size: 1.5rem;

        &:active,
        &:focus {
          outline: none;
          border: 1px solid $color-main;
        }
      }

      button {
        padding: 1.5rem;
        background-image: linear-gradient(
            to bottom,
            rgba($color-main, 0.9),
            rgba($color-main, 0.9)
          ),
          url("../../Images/bg-2.webp");
        border: none;
        cursor: pointer;
        font-family: $font-primary;
        font-size: 1.8rem;
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        &:active {
          outline: none;
          transform: scale(0.98);
        }
      }

      p {
        margin-bottom: 1.5rem;
        align-self: flex-end;
        font-size: 1.2rem;
        font-family: $font-primary;
        cursor: pointer;
        color: $color-grey;
        transition: all 0.2s;

        &:hover,
        &:focus {
          color: $color-main;
          cursor: pointer;
        }
      }
    }

    &--formik {
      display: flex;
      flex-direction: column;

      div {
        color: #bc0a0a;
        height: 4rem;
        font-family: $font-primary;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--register {
      &-tc {
        font-size: 1.2rem;
        display: flex;
        margin-bottom: 1.4rem;

        input {
          cursor: pointer;
          display: block;
          width: 8%;
        }

        label {
          cursor: pointer;
          color: $color-grey;
          font-family: $font-primary;
          width: 100%;
        }
      }
    }

    &--error {
      color: #bc0a0a;
      font-family: $font-primary;
      font-size: 1.2rem;
      display: flex;
    }
  }

  .isAuthActive {
    border-bottom: 2px solid $color-main;
    color: $color-main;
  }

  .notChecked {
    opacity: 90%;
  }
}
