@import "../../../../App.scss";

.categories {
  background-image: linear-gradient(
      to bottom,
      rgba(black, 0.8),
      rgba(black, 0.8)
    ),
    url("https://images.unsplash.com/photo-1620314220867-90d1ba926c62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=416&q=80");
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  padding: 5rem 0;

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

    h1 {
      font-weight: 100;
      color: $color-white;
      font-family: $font-brand;
      font-size: 7rem;
    }

    &--btns {
      margin-top: 2rem;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      button {
        background: transparent;
        border: none;
        font-family: $font-primary;
        font-size: 1.7rem;
        cursor: pointer;
        color: $color-white;
        border-radius: 5rem;
        padding: 0.5rem 2rem;
        transition: all 0.2s;

        &:hover,
        &:focus {
          background-color: $color-main;
          color: $color-black;
        }
      }
    }
  }

  &__grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4rem;

    &--item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &--percent {
        background-color: rgb(253, 84, 84);
        padding: 0.5rem 0.8rem;
        border-radius: 1rem;
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.1rem;
        position: absolute;
        top: 2rem;
        left: 2rem;
      }

      &--new {
        background-color: rgb(120, 177, 252);
        padding: 0.5rem 0.8rem;
        border-radius: 1rem;
        color: $color-white;
        font-family: $font-primary;
        font-size: 1.1rem;
        position: absolute;
        top: 5rem;
        left: 2rem;
      }

      &--img {
        height: 40rem;
        width: 100%;
        background-size: cover;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.2s;

        &-1 {
          background-image: url("https://images.unsplash.com/photo-1620314220867-90d1ba926c62?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=416&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80");
          }
        }

        &-2 {
          background-image: url("https://images.unsplash.com/photo-1616205255807-b55f2513eced?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1576379392044-6d933410d374?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
          }
        }

        &-3 {
          background-image: url("https://images.unsplash.com/photo-1519996529931-28324d5a630e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1522712586518-5e2e8924eb0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
          }
        }

        &-4 {
          background-image: url("https://images.unsplash.com/photo-1582454235987-1e597bafcf58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1566222499048-9538f86d4675?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=462&q=80");
          }
        }

        &-5 {
          background-image: url("https://images.unsplash.com/photo-1562847814-98521f174785?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1594041680534-e8c8cdebd659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80");
          }
        }

        &-6 {
          background-image: url("https://images.unsplash.com/photo-1609015746380-571227e2bc72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1603105037880-880cd4edfb0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
          }
        }

        &-7 {
          background-image: url("https://images.unsplash.com/photo-1602833280958-1657662ccc58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
          }
        }

        &-8 {
          background-image: url("https://images.unsplash.com/photo-1497534446932-c925b458314e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=407&q=80");

          &:hover {
            background-image: url("https://images.unsplash.com/photo-1575943669179-ca46975a41f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80");
          }
        }
      }

      h1 {
        color: $color-white;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 100;
        margin-top: 1.8rem;
        font-size: 1.7rem;
      }

      h4 {
        span {
          color: $color-grey;
          text-decoration: line-through;
          font-size: 1.3rem;
          font-family: $font-primary;
          margin-right: 0.4rem;
        }

        color: $color-main;
        font-size: 1.5rem;
        font-family: $font-primary;
      }
    }
  }

  &__viewMore {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    button {
      background-color: $color-main;
      padding: 1.5rem 3rem;
      border: 3px solid $color-main;
      border-radius: 5rem;
      cursor: pointer;
      font-family: $font-primary;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-black;
      transition: all 0.3s;
      margin: 3rem 0 5rem 0;

      &:hover {
        background-color: transparent;
        color: $color-main;
      }

      &:active {
        outline: none;
        transform: scale(0.98);
      }
    }
  }
}
