@import "../../App.scss";

.nav-container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.navBar {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 10;
  padding: 3.5rem 3rem;

  &.active {
    background: rgba(0, 0, 0, 0.8);
  }

  &__utilities {
    display: flex;
    align-items: center;

    &--icons {
      display: flex;
      align-items: center;

      svg,
      &-menu {
        cursor: pointer;
        fill: white;
        transition: all 0.2s;
        height: 3.5rem;
        width: 3.5rem;

        &:hover,
        &:focus,
        &:focus {
          fill: $color-main;
        }
      }

      &-meals {
        position: relative;
        margin-left: 3rem;
        margin-right: 2.5rem;

        &-cart {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $color-main;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          position: absolute;
          top: -3px;
          left: -3px;
          padding: 0.4rem;
          font-size: 1.2rem;
          font-family: $font-primary;
          color: black;
        }
      }

      &-auth {
        svg {
          height: 3rem;
          width: 3rem;
        }

        &-logout {
          background-color: rgba(0, 0, 0, 0.8);
          padding: 1.2rem 2rem;
          margin-top: 0.5rem;
          position: absolute;
          display: flex;
          align-items: center;

          p {
            font-family: $font-primary;
            font-size: 1.5rem;
            color: white;
            transition: all 0.2s;
            margin-right: 0.8rem;
          }

          svg {
            height: 1.8rem;
            width: 1.8rem;
            transform: translateY(2px);
          }

          &:hover {
            cursor: pointer;
            svg {
              fill: $color-main;
            }

            p {
              color: $color-main;
            }
          }
        }
      }

      &-menu {
        @media (min-width: 650px) {
          display: none;
        }
      }
    }
  }

  &__options {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    list-style: none;

    @media (min-width: 650px) {
      display: flex;
    }

    &--3 {
      position: relative;
      display: flex;
      align-items: center;
      transition: all 0.2s;

      svg {
        fill: $color-white;
        cursor: pointer;
      }

      &:hover,
      &:focus > * {
        fill: $color-main;
        color: $color-main;
      }
    }

    li,
    li > a {
      color: $color-white;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 1.5rem;
      cursor: pointer;
      transition: all 0.2s;
      position: relative;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $color-main;
      }

      //for outwards underline
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: -5px;
        height: 3px;
        background: $color-main;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
        backface-visibility: none;
      }

      &:hover,
      &:focus::after {
        width: 80%;
        left: 10%;
      }
    }
  }
}

.isUtilActive {
  svg {
    fill: $color-main !important;
  }
}
