@import "../App.scss";

.scrollTopBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 100;

  svg {
    fill: #332301;
    height: 3.5rem;
    width: 3.5rem;
  }

  &:active {
    transform: scale(0.9);
  }
}
