@import "../../../../App.scss";

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  &__image {
    height: 110vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 70%;
    }
  }

  &__form {
    background-image: linear-gradient(
        to bottom,
        rgba(black, 0.5),
        rgba(black, 0.5)
      ),
      url("https://rubiktheme.com/demo/rb_bakery_demo/themes/mr_bakery/assets/img/bg_footer.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem;

    &--heading {
      color: $color-white;
      font-family: $font-motto;
      text-transform: uppercase;
      font-size: 4rem;
      margin-bottom: 5rem;
    }

    input,
    textarea {
      width: 100%;
      padding: 1.5rem;
      background: transparent;
      border: 2px solid $color-grey;
      margin-bottom: 3rem;
      color: $color-grey;
      font-size: 1.5rem;

      &:active,
      &:focus {
        outline: none;
        border: 2px solid $color-main;
      }
    }

    button {
      background-color: $color-main;
      padding: 1rem 3rem;
      border: 3px solid $color-main;
      border-radius: 5rem;
      cursor: pointer;
      font-family: $font-primary;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-black;
      transition: all 0.3s;
      margin-top: 3rem;

      &:hover {
        background-color: transparent;
        color: $color-main;
      }

      &:active {
        outline: none;
        transform: scale(0.98);
      }
    }
  }
}
