//Variables
$font-primary: "Montserrat", sans-serif;
$font-brand: "Great Vibes", cursive;
$font-motto: "Montez", cursive;

$color-white: rgb(255, 249, 238);
$color-black: rgb(32, 32, 32);
$color-grey: rgb(175, 174, 173);
$color-main: #f0c360;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%

  @media only screen and (max-width: 1000px) {
    font-size: 50%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  // background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: $color-black;
}

::-webkit-scrollbar-thumb {
  background-color: $color-main;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffdf99;
}
