//Variables
$font-primary: "Montserrat", sans-serif;
$font-brand: "Great Vibes", cursive;
$font-motto: "Merienda", cursive;

$color-white: rgb(255, 249, 238);
$color-grey: rgb(175, 174, 173);
$color-main: #f0c360;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/16px(browser default) = 62.5%
}
